<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_AvoHarvest_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=jove.ulter.pro;user id=sa;password=;initial catalog=AvoHarvest;Persist Security Info=true" />
    </connectionStrings>
</configuration>